<head>
<style>
	table {	width:100%;	}
 	td,th { text-align: left;
 					padding: 6px; }
</style>
</head>

<h1>Show for <%= @user.name %> is here</h1>
<h2><%= gravatar_for @user %></h2>



<table>
	<thead>
		<tr>
			<th>name</th>
			<th>email</th>
			<th>created at</th>
			<th>updated at </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> <%= @user.name %> </td>
			<td> <%= @user.email %> </td>
			<td> <%= @user.created_at %> </td>
			<td> <%= @user.updated_at %> </td>
		</tr>
	</tbody>
</table>

<p>by the way, it's <%= Time.now %>

<p><%= link_to "<< back to user list", users_path %></p>