<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(@title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h6>
    	<%= link_to "<< Back home", root_url %> | 
  		<%= link_to "help"				, static_pages_help_path %>  |
  		<%= link_to "about"				, static_pages_about_path %> |
  		<%= link_to "contact"			,	static_pages_contact_path %>
		</h6>
  </body>
</html>

<!DOCTYPE html>
<html>
<head>